@import url('padrao/reset.min.css');
@import url('padrao/variaveis.min.css');
@import url('padrao/textos.min.css');
@import url('conteudo/cabecalho.min.css');
@import url('conteudo/principal.min.css');
@import url('conteudo/rodape.min.css');
@import url('conteudo/carrossel.min.css');
@import url('conteudo/form.min.css');
@import url('conteudo/tema_bt.min.css');